<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nathan Osman">
    <link rel="shortcut icon" href="favicon.png">

    <!-- Page title -->
    <title>{{ page.title }}</title>

    <!-- Stylesheets -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <style>
      body {
        padding: 20px;
      }
      div.container {
        max-width: 900px;
      }
      div.footer {
        border-top: 1px solid #e5e5e5;
        color: #777;
        margin-top: 20px;
        padding: 10px;
      }
      p {
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>

    <!-- JavaScript files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
